.media {
	 margin-top: 30px;
}

.media img{
	height:50%;
}

.media-heading{
	color:white;
}
p.test{
	color:white;
	 
	word-wrap: break-word;
    white-space:initial;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 30px;
	margin-right:30px;
}
.dateMovie{
	color:  #8c8c8c;
} 
.voteMovie{
	color:#ffffcc;
}
