/* You can add global styles to this file, and also import other style files */
body{
	background-color:#002b80;
	overflow-x:hidden;
	
}

/*scrollbar style*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}